.menu{
    width: 100%;
    height: 60px;
    background-color: #240046e1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: rgb(255, 217, 0);
    font-family: iranyekanweb;
    font-weight: 700;
}